@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-primary: linear-gradient(90deg, #1A1818 60%, #1a1918  100%);

    --gutter-size: 12px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;

    overflow-x: hidden; /* Блокируем горизонтальный скролл */
    color: #F3F0EA;

    background: var(--bg-primary);
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    width: 1200px;
    margin: 0 auto;
}

.logo-header-icon {
    width: 116px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

nav ul li {
    position: relative;
}

header nav ul li a {
    color: #d0d0d0;
    font-size: 12px;
    font-weight: 400;
    transition: color 0.2s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #fff;
    transform: translateX(-100%); /* Скрыта слева */
    transition: transform 0.1s cubic-bezier(0.65, 0, 0.35, 1);
}

nav ul li a:hover {
    color: #fff;
    cursor: pointer;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transition-duration: 0.2s;
    transform-origin: left;
}

/* При уходе курсора: возврат цвета + черточка уходит вправо */
nav ul li a:not(:hover) {
    transition: color 0.5s ease 0.2s; /* Задержка для цвета */
}

nav ul li a:not(:hover)::after {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
}

.hero {
    margin-top: 120px;
    margin-bottom: 160px;
}

.hero-cont {

    display: block;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 1000px;
}

.av {
    font-size: 44px;
    text-align: right;
    padding-bottom: 10px;
    color: #FC8F4C;
    font-weight: 500;
}

.service-provision {
    display: flex;
}

.wts {
    text-align: right;
    color: #f3f0ea;
    font-weight: 500;
    width: 384px;
    line-height: 200%;
    padding-left: 210px;
}

.p1 {
    font-size: 38px;
}

.p2 {
    font-size: 36px;
}

.p3 {
    font-size: 34px;
}

.dots {
    color: #d0d0d0;
    margin-left: 16px;
    width: 236px;
    font-size: 16px;
    font-weight: 400;
}

.hcb {
    display: flex;
    justify-content: center;
}

.hero-cont-btn {
    font-family: "Montserrat", sans-serif;
    color: #F3F0EA;
    border: 1px solid #FC8F4C;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    width: 300px;
    height: 56px;
    margin-top: 35px;
    font-weight: 500;
    font-size: 16px;
}

.main-content {
    margin-bottom: 60px;
}

.grid {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;

    position: relative;

    /*
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px; */
}

.grid-sizer, .grid-item {
    width: calc(33.333% - var(--gutter-size));
    margin-bottom: var(--gutter-size);
}

.grid-item__width2 {
    width: calc(66.666% - var(--gutter-size));
}

.grid-item {
    position: relative;
    cursor: zoom-in;
    overflow: hidden;
}

.grid-item-wrap {
    position: relative;
    overflow: hidden;
}

.grid-item .wrap img {
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s cubic-bezier(0.15, 0.46, 0.45, 0.94); /* Плавный easing */
}

.grid-item .wrap img:hover {
    transform: scale(1.05); /* Легкое увеличение как на Keylight */
}

.grid-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.2) 40%,
        rgba(0, 0, 0, 0.4) 90%
    );
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Чтобы не мешал кликам */
}

.grid-item:hover .grid-item__overlay {
    opacity: 1;
}

.grid-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 40px 48px;
    transform: translateY(20px); /* Начальная позиция - чуть ниже */
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    pointer-events: none;
}

.grid-item__info__tytle {
    
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
}

.grid-item:hover .grid-item__info {
    transform: translateY(0);
    opacity: 1;
}

.twentytwenty-overlay:hover {
    background: rgba(0, 0, 0, 0) !important;
}

.twentytwenty-container:hover .twentytwenty-overlay {
    background: rgba(0, 0, 0, 0) !important;
}

.twentytwenty-before-label, .twentytwenty-after-label {
    display: none !important;
}

.twentytwenty-before-label:before, .twentytwenty-after-label:before {
    display: none !important;
}

.wrapper {
    margin-top: 180px;
    margin-bottom: 60px;
    text-align: center;
    
}

.wrapper p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.wrapper-cont {
    display: flex;
    justify-content: center;
}

.twentytwenty-container {
    height: 640px !important;
    display: inline-block !important;
}

.twentytwenty-container img {
    height: 100% !important;
    width: auto !important;
    display: block !important;
    object-fit: contain !important;
}

.hh {
    background: 
        linear-gradient(
            to bottom,
            #1A1818 20%,
            transparent 500%
        ),
        url('img/01\ фон\ низ.jpg') center/cover;
}

.studio-container {
    padding: 60px 0;
    margin-bottom: 60px;
}

.studio-container-text {
    display: block;
    margin: 0 auto;
    width: 1100px;
}

.ywsc {
    color: #FC8F4C;
    font-weight: 400;
}

.studio-container-text .tytle {
    color: #F3F0EA;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

.studio-container-text p {
    color: #F3F0EA;
    font-size: 17px;
    font-weight: 200;
    margin-top: 50px;
    line-height: 140%;
}

.calculation-section {
    padding-bottom: 120px;
}

.calculation-container {

    margin: 0 auto;

    width: 1010px;
    height: 340px;
}

.calculation-container-text {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 700px;
    margin-bottom: 60px;
}

.form-bottom__container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}

.form-label {
    cursor: pointer;
}

.form-label__tytle {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #F3F0EA;
    display: block;
    margin-bottom: 12px;
}

.form-label__input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #888888;
    width: 220px;
    color: #F3F0EA;
    transition: border-bottom-color .5s ease;
    cursor: pointer;
    font-size: 14px;
}

.calculation-container-text .tytle {
    color: #F3F0EA;
    font-size: 36px;
    font-weight: 600;
}

.calculation-container-text p {
    color: #F3F0EA;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 300;
}

.calculation-container-button {
    text-align: right;
}

.btn {
    font-family: "Montserrat", sans-serif;
    color: #F3F0EA;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: 1px solid #FC8F4C;
    background-color: #1d1b1b;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    margin-top: 30px;

    margin-left: auto;

    width: 180px;
    height: 50px;
}

/*___CINTACTS___*/

.contact-container {
    padding: 80px 0;
    display: block;
    width: 920px;
    height: 336px;
    margin: 0 auto;
}

.cont {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #F3F0EA;
}

.contacts-info {
    display: flex;
    justify-content: space-between;
}

.head {
    color: #888888;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 6px;
}

.persaddr {
    color: #F3F0EA;
    font-size: 16px;
    font-weight: 400;
}

.email {
    margin-bottom: 36px;
}

.number {
    margin-bottom: 44px;
}

.soc-net {
    display: flex;
    justify-content: space-between;
    width: 136px;
}

.soc-net > div {
    transition: all 0.2s ease;
}

.soc-net img {
    width: 32px;
    transition: all 0.1s ease;
    opacity: 1;
}

/* Эффект при наведении на контейнер кнопки */
.soc-net > div:hover {
    transform: translateY(-5px);
}

/* Увеличение активной иконки */
.soc-net > div:hover img {
    transform: scale(1.1);
}

/* Затемнение неактивных иконок */
.soc-net:hover > div:not(:hover) img {
    opacity: 0.4;
}

.qrcode-block {
    width: 256px;
}

.qrcode {
    text-align: center;
    margin-bottom: 5px;
}

.qrcode img {
    width: 210px;
}

.qrcode-text {
    color: #888888;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

/*___FOOTER___*/

.footer-bottom {
    color: #888888;
    font-weight: 400;
    font-size: 14px;
}


.block-line-container {
color: #3b3b3b;
}

.block-line {
    width: 1920px;
    border-top: 1px solid;
}

.rights-created {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    width: 1200px;
    height: 90px;
}

.created a {
    text-decoration: none;

    color: #888888;
}